a{
    text-decoration: none;
}

.logo-text{
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}

.logo-1{
    color: #25e9fd;
}

.logo-2{
    color: #01f99d;
}

.logo-3{
    color: #ebff43
}

.logo-text .logo-number{
    font-size: 3rem;
    color: #ff82f0;
}

.ti-desktop:before,
.ti-settings:before,
.ti-ruler-alt-2:before,
.ti-package:before,
.ti-star:before,
.ti-panel:before{
    content: "\e60a";
}

.social-contacts{
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
}

.social-contacts a{
    margin-right: 20px;
}

.social-contacts i{
    font-size: 28px;
}

.fa-icon-background{
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #FFF;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
}

.s-header__container{
    width: 100%;
    height: auto;
    display: flex;
    padding: 0.75rem 1.875rem;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.s-header__navbar-row{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.address-gmap-click{
    width: 100%;
    display: inline-block;
    height: 100%;
}

.address-gmap-click img{
    width: 100%;
}

.g-promo-section{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.address-inner-container{
    /* padding: 0; */
}

.banner-title{
    font-size: 3.4375rem !important;
    font-weight: 600;
    background: -webkit-linear-gradient(#ff1d1d, #4d07bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p.tagline-text{
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}

.take-map-button{
    outline: 0;
    border: 0;
    margin-top: 2rem;
}

.address-contact-text p{
    font-size: 1.3rem;
    margin: 0;
    line-height: 2rem;
}

@media only screen and (max-width: 768px){
    .s-header__navbar-row{
        display: flex;
/*         flex-flow: column; */
        flex-flow: row;
/*         align-items: flex-start; */
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .social-contacts{
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
/*         justify-content: flex-start; */
        justify-content: flex-end;
    }
}

@media only screen and (max-width:710px){
    .banner-title{
        font-size: 1.7rem!important;
    }
}

@media only screen and (max-width: 425px){
    p.tagline-text{
        font-size: 1.2rem;
    }

    .address-contact-text p{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 375px){
    .fa-icon-background{
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 320px){
    .fa-icon-background{
        width: 30px;
        height: 30px;
    }


    .social-contacts i{
        font-size: 20px;
    }
}

